coverage
dj-database-url
Django
django-environ
django-filter
django-pipeline
django-pipeline-browserify
djangorestframework
gunicorn
httpie
opbeat
Markdown
psycopg2
Pygments
requests
sqlparse
whitenoise
puput
django-storages
boto3